<% if user_signed_in? %>
	<p class="navbar-text float-right">
		Logged in as <strong><%= current_user.nombre %></strong>.
		<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
		<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
	</p>
	<% if 2 === @currentUser  %>
	 <p>Profesor</p>
	 <p>Nombre: <%= current_user.nombre %> <%= current_user.apellido %></p>
	 <p>Correo: <%= current_user.email %></p>


	 <h2>Asignaturas que imparte</h2>
	 <p>----------------</p>
	 <% @asignaturas.each do |f| %>
	 	<p>Asignatura <%=f.nombre %></p>
	 	<p>----------------</p>
	 <% end %>
	 <h2>Evaluaciones recividas</h2>
	 <p>----------------</p>
	 <% @evaluaciones.each do |f| %>
	 	<p>Nota <%=f.nota %></p>
	 	<p>Comentario <%=f.comentario %></p>
	 	<p>----------------</p>
	 <% end %>
	<% else %>
	<p>Profesor</p>
	<p>Nombre: <%= @currentUserid.nombre %> <%= @currentUserid.apellido %></p>

	<p>Correo: <%= @currentUserid.email %></p>
	Nota promedio profesor: <%= @promedioevaluaciones %>
	<% if 1===@evaluacionlista %>
		<p>Usted ya realizo la evauacion del profesor</p>
	<%else%>
	<p><%= link_to "Evaluar profesor", new_evaluacion_url(@currentUserid)%></p>
	<%end%>
	<% end %>

<% end %>