<% if user_signed_in? %>
	<% if 1 === @currentUser  %>
	 	<p>Alumno</p>
	 	<p>Nombre: <%= current_user.nombre %> <%= current_user.apellido %></p>
	 	<p>Correo: <%= current_user.email %></p>
	
	 	<p>Asignaturas a las que pertenece</p>
	 	<% @Asignaturas.each do |f| %>
	 			<p>Asignatura <%=f.nombre%> <%= link_to "Ir", profesores_path(f)%></p>

	 		<p>----------------</p>
	 	<% end %>
	<% else %>

	<p>No es alumno</p>

	<% end %>

<% end %>