<% if user_signed_in? %>
	<p class="navbar-text float-right">
		Logged in as <strong><%= current_user.nombre %></strong>.
		<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
		<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
	</p>
	<% if 1 === @currentUser  %>
	 	<p>Alumno</p>
	 	<p>Nombre: <%= current_user.nombre %> <%= current_user.apellido %></p>
	 	<p>Correo: <%= current_user.email %></p>
	
	 	<p>Asignaturas a las que pertenece</p>
	 	<% @Asignaturas.each do |f| %>
	 			<p>Asignatura <%=f.nombre%> <%= link_to "Ir", profesores_path(f)%></p>

	 		<p>----------------</p>
	 	<% end %>
	<% else %>

	<p>No es alumno</p>

	<% end %>

<% end %>